<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Expense Tracker App</title>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="css/expenses.css">
    <script src="https://kit.fontawesome.com/8a8316e13d.js" crossorigin="anonymous"></script>
    s
</head>

<body>
    <a href="/"> <i class="fas fa-arrow-circle-left fa-3x ml-3 mt-3"></i>
    </a>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <header>
                    <h1 class="title">Expense Tracker App</h1>
                    <header>

                        <section class="content">
                            <h3 class="secondTitle">Add a new item: </h3>
                            <div class="form">
                                <form id="expForm">
                                    <div class="formLine left">
                                        <span for="type">Type:</span>
                                        <select id="type">
                                            <option value="chooseOne">Choose one...</option>
                                            <option value="Card">Card</option>
                                            <option value="Cash">Cash</option>
                                            <option value="Cryptocoin">Cryptocoin</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <div class="formLine right">
                                        <span for="name">Name:</span>
                                        <input type="text" id="name">
                                    </div>

                                    <div class="formLine left">
                                        <span for="date">Date:</span>
                                        <input type="date" id="date">
                                    </div>
                                    <div class="formLine right">
                                        <span for="amount">Amount:</span>
                                        <input type="text" id="amount">
                                    </div>
                                    <button type="submit" class="buttonSave">Add a new expense</button>
                                </form>
                            </div>
                        </section>
                        <section class="content">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>Options</th>
                                    </tr>
                                </thead>
                                <tbody id="expenseTable">

                                </tbody>
                            </table>
                        </section>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4 mt-4 pt-1">
                <h1 class="title">ABOUT</h1>
                <p>People tend to overspend without realizing, and this can prove to be disastrous. Expense Tracker
                    would be able to track expenses and monitor the income. It will give a clear image of how much the
                    user is making and how much are their expenses with input text. It will allow the user to add, edit,
                    delete and visualize expenses on multiple dimensions and categories with charts and graphs of
                    finances.Using a daily expense manager can help you keep track of how much you spend every day and
                    on what. At the end of the month, you will have a clear picture where your money is going. This is
                    one of the best ways to get your expenses under control and bring some semblance of order to your
                    finances.</p>
            </div>
        </div>
    </div>

    <script src="js/expenses.js"></script>
</body>

</html>
