<!-- ========================= preloader start ========================= -->
<div class="preloader">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- preloader end -->

<!-- ========================= header start ========================= -->
<header class="header navbar-area bg-white">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <nav class="navbar navbar-expand-lg id=" #mainnavbar">
                    <a class="navbar-brand" href="/">
                        <h1>Fimale</h1>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                        <span class="toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                        <ul id="nav" class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="page-scroll active" href="#home">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#about">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#services">Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="page-scroll" href="#blog">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a href="https://news-api-wt.herokuapp.com/">News</a>
                            </li>
                            {{!-- <li class="nav-item">
                                <a href="https://docs.google.com/forms/d/1joHt8DkuFSqiqhhnnpPLGbzuBSLmO0ty1K0xUZSRnkI/viewanalytics"
                                    class="page-scroll">Survey</a>
                            </li> --}}
                        </ul>
                        <div class="header-btn">
                            <a href="http://thestorybooks.herokuapp.com/" class="theme-btn">Blog</a>
                        </div>
                    </div> <!-- navbar collapse -->
                </nav> <!-- navbar -->
                <script>

                    $(function () {
                        $(document).scroll(function () {

                            var $nav = $('#mainNavbar');

                            $nav.toggleClass('scrolled', $(this).scrollTop() > $nav.height());

                        });
                    });
                </script>
            </div>
        </div> <!-- row -->
    </div> <!-- container -->

</header>
<!-- ========================= header end ========================= -->

<!-- ========================= carousel-section  ========================= -->
<section id="home" class="carousel-section-wrapper">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-section carousel-item active clip-bg pt-225 pb-200 img-bg"
                style="background-image: url('img/carousel/3.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-10 mx-auto">
                            <div class="carousel-content text-center">
                                <div class="section-title">
                                    <h2 class="text-white"></h2>
                                    <p class="text-white"></p>
                                </div>
                                <!-- <a href="javascript:void(0)" class="theme-btn border-btn">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-section carousel-item clip-bg pt-225 pb-200 img-bg"
                style="background-image: url('img/carousel/women-empowerment.jpg');">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 col-lg-10 mx-auto">
                            <div class="carousel-content text-center">
                                <div class="section-title">
                                    <h2 class="text-black">Get Inspired</h2>
                                    <p class="text-white"></p>
                                </div>
                                <a href="javascript:void(0)" class="theme-btn border-btn">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control carousel-control-prev" href="#carouselExampleCaptions" role="button"
            data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"><i class="lni lni-arrow-left"></i></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control carousel-control-next" href="#carouselExampleCaptions" role="button"
            data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"><i class="lni lni-arrow-right"></i></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<!-- ========================= carousel-section end ========================= -->

<!-- ========================= feature-section start ========================= -->
<section id="features" class="feature-section pt-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
                <div class="section-title text-center mb-55">
                    {{!-- <span class="wow fadeInDown" data-wow-delay=".2s">Features</span> --}}
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Why Choose?</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">A women-centric organisation to revolutionize the lives
                        of young women from weak socio-economic backgrounds to develop and employ the future financial
                        leaders of India</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="feature-box box-style">
                    <div class="feature-icon box-icon-style">
                        <i class="fas fa-project-diagram"></i>
                    </div>
                    <div class="box-content-style feature-content">
                        <h4>Our Mission</h4>
                        <p>Educating the womenfolk masses and encouraging better financial literacy to bring forward
                            financial instruments as a tool for self and the country's development.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-box box-style">
                    <div class="feature-icon box-icon-style">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                    <div class="box-content-style feature-content">
                        <h4>Our PLan</h4>
                        <p>Education on your hands at the touch of a button, free and extensive, personlised for your
                            profile!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="feature-box box-style">
                    <div class="feature-icon box-icon-style">
                        <i class="fas fa-chart-line"></i>
                    </div>
                    <div class="box-content-style feature-content">
                        <h4>Our Vision</h4>
                        <p>Creating an era of strong, young women to lead and develop India into becoming a superpower
                            while employing and hereby empowering women!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= feature-section end ========================= -->

<!--========================= about-section start========================= -->
<section id="about" class="pt-100">
    <div class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="about-img-wrapper">
                        <div class="about-img position-relative d-inline-block wow fadeInLeft" data-wow-delay=".3s">
                            <img src="img/about/tat.png" alt="">

                            <div class="about-experience p-3">
                                <h3>A women centric project</h3>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="about-content-wrapper">
                        <div class="section-title">
                            <span class="wow fadeInUp" data-wow-delay=".2s">About Us</span>
                            <h2 class="mb-40 wow fadeInRight" data-wow-delay=".4s">A women-centric organisation </h2>
                        </div>
                        <div class="about-content">
                            <p class="mb-45 wow fadeInUp" data-wow-delay=".6s">Educating the womenfolk masses and
                                encouraging better financial literacy to bring forward financial instruments as a tool
                                for self and the country's development</p>                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--========================= about-section end========================= -->

<!-- ========================= service-section start ========================= -->
<section id="services" class="service-section pt-130">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
                <div class="section-title text-center mb-55">
                    {{!-- <span class="wow fadeInDown" data-wow-delay=".2s">Services</span> --}}
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Best Services</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s"></p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="fas fa-calculator"></i>,
                    </div>
                    <div class="box-content-style service-content">
                        <a href="/sip">
                            <h4 id="servicetext">SIP</h4>
                        </a>
                        <p>investment calculator with graphs, which will help you to calculate the future value of your
                            SIP on expected returns on investment.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="lni lni-bootstrap"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <a href="https://news-api-wt.herokuapp.com/">
                            <h4 id="servicetext">News</h4>
                        </a>
                        <p>Displays the current affairs related to finance to give a short and brief gist to the viewers
                            about financial literacy.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-box box-style">
                    <div class="service-icon box-icon-style">
                        <i class="lni lni-briefcase"></i>
                    </div>
                    <div class="box-content-style service-content">
                        <a href="/expense">
                            <h4 id="servicetext">Expense tracker</h4>
                        </a>
                        <p>It will allow the user to add, edit, delete and visualize expenses on multiple dimensions and
                            categories with charts and graphs of finances.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= service-section end ========================= -->

<!-- ========================= Blog-section start ========================= -->
<section id="portfolio" class="portfolio-section pt-130">
    <section id="blog" class="contact-section cta-bg img-bg pt-110 pb-100"
        style="background-image: url('img/bg/img-01.png');">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-5 col-lg-7">
                    <div class="section-title mb-60">
                        <span class="text-white wow fadeInDown" data-wow-delay=".2s"
                            style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Share your
                            stories..</span>
                        <h2 class="text-white wow fadeInUp" data-wow-delay=".4s"
                            style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"></h2>
                        <p class="text-white wow fadeInUp mb-4" data-wow-delay=".6s"
                            style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Whether
                            sharing your expertise, breaking news, or whatever’s on your mind, you’re in good company on
                            Fimale.</p>
                        <a href="http://thestorybooks.herokuapp.com/" rel="nofollow" class="theme-btn">Blog</a>

                    </div>
                </div>
                <div class="col-xl-7 col-lg-5">
                    <div class="contact-btn text-left text-lg-right">

                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- ========================= portfolio-section end ========================= -->

<!-- ========================= process-section start ========================= -->
<section id="process" class="process-section pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-7 col-md-9 mx-auto">
                <div class="section-title text-center mb-55">
                    {{!-- <span class="wow fadeInDown" data-wow-delay=".2s"></span> --}}
                    <h2 class="wow fadeInUp" data-wow-delay=".4s">Fundraising Campaign</h2>
                    <p class="wow fadeInUp" data-wow-delay=".6s">where we try to raise money for R&D of a specific
                        product generated towards young startups by women.</p>
                </div>
            </div>
        </div>
        <div class="row align-items-center time-line">
            <div class="col-12">
                <div class="single-timeline">
                    <div class="row align-items-center">
                        <div class="col-lg-5 order-last order-lg-first">
                            <div class="timeline-content left-content text-lg-right">
                                <div class="box-icon-style">
                                    <i class="lni lni-search-alt"></i>
                                </div>
                                <h4 class="mb-10">Ideate</h4>
                                <p>Express your thoughts via graphical, written, or verbal methods, which arises from
                                    past or present knowledge, influences, opinions, experiences, and personal
                                    convictions.</p>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="timeline-img">
                                <img src="img/timeline/p.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="single-timeline">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="timeline-img">
                                <img src="img/timeline/s.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="timeline-content right-content text-left">
                                <div class="box-icon-style">
                                    <i class="lni lni-layers"></i>
                                </div>
                                <h4 class="mb-10">Research</h4>
                                <p>Researching and exploring to find the best personalised solutions to educate and
                                    formulate a plan to match investment goals and profiles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="single-timeline">
                    <div class="row align-items-center">
                        <div class="col-lg-5 order-last order-lg-first">
                            <div class="timeline-content left-content text-lg-right">
                                <div class="box-icon-style">
                                    <i class="lni lni-code-alt"></i>
                                </div>
                                <h4 class="mb-10">Opportunities</h4>
                                <p>From allowing donations to their favorite inspiration, we will offer unique
                                    incentives for investment such early products and developmental samples, a
                                    customized investor only product version with additional and special features,
                                    merchandise and other items to show their pride in helping other women grow a
                                    successful business.</p>
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="timeline-img">
                                <img src="img/timeline/a.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="single-timeline">
                    <div class="row align-items-center">
                        <div class="col-lg-5">
                            <div class="timeline-img">
                                <img src="img/timeline/hi.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-lg-2"></div>
                        <div class="col-lg-5">
                            <div class="timeline-content right-content text-left">
                                <div class="box-icon-style">
                                    <i class="lni lni-rocket"></i>
                                </div>
                                <h4 class="mb-10">Donate</h4>
                                <p>Imagine what our communities would look like if women entrepreneurs had equal access
                                    to the resources needed to lead profitable businesses? Make a difference in a
                                    woman's life today. Donate Now.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- ========================= process-section end ========================= -->

<!-- ========================= team-section start ========================= -->
<!-- <section id="team" class="contact-section cta-bg img-bg pt-110 pb-100" style="background-image: url('img/bg/cta-bg.jpg');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-5 col-lg-7">
                        <div class="section-title mb-60">
                            <span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Hey</span>
                            <h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">You are using free lite version of Fancy</h2>
                            <p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Please, purchase full version of template to get all elements, section and permission to remove credits.</p>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-5">
                        <div class="contact-btn text-left text-lg-right">
                            <a href="https://rebrand.ly/fancy-ud" rel="nofollow" class="theme-btn">Purchase Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<!-- ========================= team-section end ========================= -->

<!-- ========================= client-logo-section start ========================= -->
<!-- <section class="client-logo-section pt-100 pb-100">
            <div class="container">
                <div class="client-logo-wrapper">
                    <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                        <div class="client-logo">
                            <img src="img/client-logo/uideck-logo.svg" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="img/client-logo/pagebulb-logo.svg" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="img/client-logo/lineicons-logo.svg" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="img/client-logo/graygrids-logo.svg" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="img/client-logo/lineicons-logo.svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<!-- ========================= client-logo-section end ========================= -->

<!-- ========================= Financial-News start ========================= -->
{{!-- <section id="news" class="contact-section cta-bg img-bg pt-110 pb-100"
    style="background-image: url('img/bg/cta-bg.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-7">
                <div class="section-title mb-60">
                    <span class="text-white wow fadeInDown" data-wow-delay=".2s">NEWS</span>
                    <h2 class="text-white wow fadeInUp" data-wow-delay=".4s"></h2>
                    <p class="text-white wow fadeInUp" data-wow-delay=".6s">At vero eos et accusamus et iusto odio
                        dignissimos ducimus quiblanditiis praesentium</p>
                </div>
            </div>
            <div class="col-xl-7 col-lg-5">
                <div class="contact-btn text-left text-lg-right">
                    <a href="#portfolio" class="theme-btn">View Works</a>
                </div>
            </div>
        </div>
    </div>
</section> --}}
<!-- ========================= contact-section end ========================= -->

<!-- ========================= contact-section start ========================= -->
<section class="contact-section pt-130 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-xl-4">
                <div class="contact-item-wrapper">
                    <div class="row">
                        <div class="col-12 col-md-6 col-xl-12">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="lni lni-phone"></i>
                                </div>
                                <div class="contact-content">
                                    <h4>Contact</h4>
                                    <p>0984537278623</p>
                                    <p>fimale@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-xl-12">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="lni lni-map-marker"></i>
                                </div>
                                <div class="contact-content">
                                    <h4>Address</h4>
                                    <p>VIT University</p>
                                    <p>India</p>
                                </div>
                            </div>
                        </div>
                        {{!-- <div class="col-12 col-md-6 col-xl-12">
                            <div class="contact-item">
                                <div class="contact-icon">
                                    <i class="lni lni-alarm-clock"></i>
                                </div>
                                <div class="contact-content">
                                    <h4>Shedule</h4>
                                    <p>24 Hours / 7 Days Open </p>
                                    <p>Office time: 10 AM - 5:30 PM</p>
                                </div>
                            </div>
                        </div> --}}
                    </div>
                </div>
            </div>
            <div class="col-xl-8">
                <div class="contact-form-wrapper">
                    <div class="row">
                        <div class="col-xl-10 col-lg-8 mx-auto">
                            <div class="section-title text-center mb-50">
                                <span class="wow fadeInDown" data-wow-delay=".2s">Get in Touch</span>
                                <h2 class="wow fadeInUp" data-wow-delay=".4s">Ready to Get Started</h2>
                                {{!-- <p class="wow fadeInUp" data-wow-delay=".6s"></p> --}}
                            </div>
                        </div>
                    </div>
                    <form action="php/mail.php" class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="name" id="name" placeholder="Name" required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" name="email" id="email" placeholder="Email" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="phone" id="phone" placeholder="Phone" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" name="subject" id="email" placeholder="Subject" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <textarea name="message" id="message" placeholder="Type Message" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="button text-center">
                                    <button type="submit" class="theme-btn">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- ========================= contact-section end ========================= -->

<!-- ========================= subscribe-section start ========================= -->
<section class="subscribe-section pt-70 pb-70 img-bg" style="background-image: url('img/bg/common-bg.svg')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="section-title mb-30">
                    <span class="text-white wow fadeInDown" data-wow-delay=".2s">Subscribe</span>
                    <h2 class="text-white mb-40 wow fadeInUp" data-wow-delay=".4s">Subscribe Our Newsletter</h2>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <form action="#" class="subscribe-form wow fadeInRight" data-wow-delay=".4s">
                    <input type="text" name="subs-email" id="subs-email" placeholder="Your Email">
                    <button type="submit"><i class="lni lni-telegram-original"></i></button>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- ========================= subscribe-section end ========================= -->

<!-- ========================= footer start ========================= -->
<footer class="footer pt-100">
    <div class="container">
        <div class="row">
            {{!-- <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="footer-widget mb-60 wow fadeInLeft" data-wow-delay=".2s">
                    <a href="index.html" class="logo mb-30"><img src="img/logo/logo.svg" alt="logo"></a>
                    <p class="mb-30 footer-desc">We Crafted an awesome desig library that is robust and intuitive to
                        use. No matter you're building a business presentation websit.</p>
                </div>
            </div> --}}
            <div class="col-xl-2 offset-xl-1 col-lg-2 col-md-6">
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget mb-60 wow fadeInUp" data-wow-delay=".6s">
                    <h4>Service</h4>
                    <ul class="footer-links">
                        <li>
                            <a href="/sip">SIP Calculator</a>
                        </li>
                        <li>
                            <a href="https://news-api-wt.herokuapp.com/">Financial News</a>
                        </li>
                        <li>
                            <a href="/expense">Expense Tracker</a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-6">
                <div class="footer-widget mb-60 wow fadeInRight" data-wow-delay=".8s">
                    <h4>Contact</h4>
                    <ul class="footer-contact">
                        <li>
                            <p>+00983467367234</p>
                        </li>
                        <li>
                            <p>fimale@gmail.com</p>
                        </li>
                        <li>
                            <p>VIT University</br>
                                INDIA</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="footer-social-links">
                        <ul class="d-flex">
                            <li><a href="javascript:void(0)"><i class="lni lni-facebook-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-linkedin-original"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="lni lni-instagram-original"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!-- ========================= footer end ========================= -->


<!-- ========================= scroll-top ========================= -->
<a href="#" class="scroll-top">
    <i class="lni lni-arrow-up"></i>
</a>
